:root {
    --action-primary: #25dac5;
    --colors-heading: #1e0e62;
    --colors-text: #151439;
    --colors-white: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--colors-text);
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: var(--action-primary);
}

.auth button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.login, .sign-up {
    background-color: var(--action-primary);
    color: var(--colors-white);
    border-radius: 20px;
    padding: 10px 20px;
}

.menu li a.active {
    color: var(--action-primary); /* 현재 페이지 활성화 */
}

/* 모달 기본 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 24px;
}

