:root {
    --action-primary: #25dac5;
    --colors-heading: #1e0e62;
    --colors-text: #151439;
    --colors-white: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: var(--colors-text);
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: var(--action-primary);
}

.auth-notification {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.auth .signup,
.auth .login {
    background-color: var(--action-primary);
    color: var(--colors-white);
    border-radius: 20px;
    margin: 0;
}

.notification {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.bell-icon {
    width: 30px;  
    height: 30px; 
    cursor: pointer;
    fill: #333;
    transition: transform 0.3s ease;
    margin-left: 5px;
}

.bell-icon:hover {
    transform: scale(1.2);
}

.notification-list {
    display: none; 
    position: absolute; 
    right: 40px; 
    top: 90px; 
    width: 250px; 
    background-color: var(--colors-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    padding: 15px; 
    text-align: left;
}

.notification-list.show {
    display: block;
}

.notification-item {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;
}

.notification-item.empty-notification {
    text-align: center;
    color: #888;
}

.notification-item.view-more {
    text-align: center;
    background-color: var(--action-primary);
    border-bottom: none;
}

.notification-item.view-more a {
    color: var(--colors-white);
    text-decoration: none;
    display: block;
    padding: 1px 0;
}

.notification-item.view-more a:hover {
    background-color: #1ca69b;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #333;
}
