{% extends "base.html" %} {% block title %}Login - IP Cam{% endblock %} {% block
    extra_css %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    {% endblock %} {% block content %}
    <div class="login-content">
      <h2>"Log In. Stay Protected."</h2>
    
      <div class="google-login">
        <button>
          <img src="google-logo.png" alt="Google Logo" />
          <span>Sign in with Google</span>
        </button>
      </div>
    
      <div class="divider">or</div>
    
      <form>
        <input type="email" placeholder="Your email" />
        <input type="password" placeholder="Your password" />
        <button type="submit">Sign In</button>
      </form>
    
      <div class="links">
        <a href="#">아이디 찾기</a> | <a href="#">비밀번호 찾기</a> |
        <a href="#">회원가입</a>
      </div>
    </div>
    
    <div class="image-placeholder">적당한 사진</div>
    {% endblock %}
    